.choice-wrapper {
  font-family: var(--font-default);
  margin-bottom: 22px;
}
.image-wrapper {
  border-radius: 10px;
  position: relative;
  border: 2px solid var(--rose-50);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: border 0.3s ease;
}
.image-wrapper:hover {
  border: 2px solid var(--red);
}
.choice-image {
  width: 100%;
  border-radius: 8px;
  display: block;
}
.add-to-cart {
  font-family: inherit;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: white;
  color: var(--rose-900);
  border: 1px solid hsla(14, 65%, 9%, 0.306);
  padding: 8px 10px;
  border-radius: 18px;
  bottom: -22px;
  width: 42%;
  height: 40px;
}
.category,
.name,
.price {
  margin: 0;
}
.product-info-wrapper {
  margin-top: 24px;
}
.category {
  color: var(--rose-400);
  margin-bottom: 5px;
}
.name {
  color: var(--rose-900);
  margin-bottom: 5px;
}
.price {
  color: var(--red);
}
.quantity-control {
  font-family: inherit;
  display: flex;
  align-items: center;
  background-color: var(--red);
  color: white;
  padding: 6px 16px;
  border-radius: 18px;
  position: absolute;
  bottom: -18px;
}
.qty {
  font-size: 14px;
  margin: 0 12px;
  min-width: 1.5rem;
  text-align: center;
}
.qty-btn {
  border: none;
  background: none;
  color: white;
  font-size: 8px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
}
@media (min-width: 1024px) {
  .choice-image {
    width: 100%;
  }
  .add-to-cart {
    bottom: -16px;
    width: 70%;
    height: 32px;
  }
}
@media (min-width: 1440px) {
  .add-to-cart {
    bottom: -20px;
    width: 54%;
    height: 39px;
  }
}