.card-wrapper {
  border-radius: 10px;
  font-family: var(--font-default);
  padding: 25px 20px;
  background: white;
}
.item-breakdown-wrapper {
  border-bottom: 1px solid rgba(201, 174, 166, 0.403);
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.card-title {
  color: var(--red);
  margin: 0;
  margin-bottom: 30px;
  font-size: 40px;
}
.confirm-order {
  font-family: var(--font-default);
  background-color: var(--red);
  color: white;
  padding: 16px 0px;
  font-size: 16px;
  border-radius: 25px;
  width: 100%;
  border: none;
  transition: background-color 0.3s ease;
}
.confirm-order:hover,
.confirm-order:focus {
  background-color: var(--active-state);
}
.quantity-price-wrapper {
  display: flex;
  color: var(--rose-400);
  font-size: 18px;
  margin: 0;
}
.quantity-price-wrapper > p {
  margin: 0;
  margin-right: 10px;
  padding: 0.6em 0;
}
.order-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;    
  padding: 20px 10px;
  border-radius: 5px;
  margin-bottom: 25px;
}
.icon-carbon-neutral {
  background: var(--rose-50);
}
.no-items {
  flex-direction: column;
}
.has-items {
  flex-direction: row;
}
.remove-item-button {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--rose-400);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 8px;
  background: none;
}
.empty-cart {
  width: 100px;
  height: 100px;
}
.empty-card-message {
  color: var(--rose-400);
  font-size: 12px;
  font-weight: 700;
  margin-top: 15px;
} 
.cart-items-list {
  list-style: none;
  padding: 0;
}
.cart-quantity-wrapper {
  margin-right: 10px;
}
.item-quantity {
  color: var(--red);
  font-weight: 700;
  margin-right: 14px;
}
.item-quantity-price {
  color: var(--rose-400);
  font-weight: 700;
}
.item-name {
  color: var(--rose-700);
  font-weight: 700;
  font-size: 15px;
  margin: 0;
}
.order-total-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 26px;
}
.order-total-amount {
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .card-wrapper {
    min-width: 350px;
    height: max-content;
    position: sticky;
    top: 15px;
  }
  .cart-items-list {
    max-height: max-content;
  }
}